<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/resources/**" access="permitAll" />
		<intercept-url pattern="/dashboard**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/charts**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		<intercept-url pattern="/tables**" access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />
		
		<intercept-url pattern="/plugins/**" access="permitAll" />
		<intercept-url pattern="/ckfinder/**" access="permitAll" />
		<intercept-url pattern="/hocvan/**" access="permitAll" />
		<intercept-url pattern="/core/**" access="permitAll" />
		<intercept-url pattern="/connector/**" access="permitAll" />
		<intercept-url pattern="/java/**" access="permitAll" />
		
 		<!-- <intercept-url pattern="/js/**" access="permitAll" />
		<intercept-url pattern="/css/**" access="permitAll" />
		<intercept-url pattern="/scss/**" access="permitAll" />
		<intercept-url pattern="/img/**" access="permitAll" />
		<intercept-url pattern="/favicon.ico" access="permitAll" />
		<intercept-url pattern="/vendor/**" access="permitAll" />
		<intercept-url pattern="/mp4/**" access="permitAll" />
		<intercept-url pattern="/plugins/**" access="permitAll" />
		<intercept-url pattern="/CKFinderJava/**" access="permitAll" />
		<intercept-url pattern="/images/**" access="permitAll" />
		<intercept-url pattern="/userfiles/**" access="permitAll" /> -->

		<!-- <form-login login-page="/login"
			login-processing-url="/j_spring_security_login"
			default-target-url="/admin" authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" /> -->
		
		<form-login login-page="/login" login-processing-url="/j_spring_security_login"
      		default-target-url="/dashboard" authentication-failure-handler-ref="customAuthenticationFailureHandler"
      		username-parameter="username" password-parameter="password" />
			
		<logout logout-url="/j_spring_security_logout"
			logout-success-url="/login?message=logout"
			delete-cookies="JSESSIONID" />

		<remember-me key="uniqueAndSecret"
			token-validity-seconds="1296000" />
			
		<session-management session-fixation-protection="newSession">
      		<concurrency-control error-if-maximum-exceeded="false" expired-url="/login?message=max_session" max-sessions="1" />
    	</session-management>
    	
    	<!-- <session-management invalid-session-url="/login?message=timeout" session-fixation-protection="newSession">
      		<concurrency-control error-if-maximum-exceeded="false" expired-url="/login?message=max_session" max-sessions="1" />
    	</session-management> -->
	</http>
	
	<!-- <authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="admin" password="{noop}123456"
					authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager> -->
	
	<authentication-manager>
	    <authentication-provider user-service-ref="myUserDetailsService">
	      <password-encoder hash="bcrypt"/>
	    </authentication-provider>
  	</authentication-manager>
</beans:beans>